<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h1>bello single-product</h1>
      <h4>
        <a href="/products/<%=product.Id%>"><%=product.Title%></a>
      </h4>
      <p>
        <%=product.Description%>
      </p>
      <p>price: <%=product.Price%> บาท</p>
  </body>
</html>
